@import url(general.css);


body{
    overflow-x:hidden;
}

/* 
HEADER
*/
header{
    height: 3.75rem;
    width: 100%;

}
.logo_small a > img{
    width: 100%;
    height: 3.125rem;
}

.search_control {
    margin-top: .625rem;
}
.fa-magnifying-glass{
    position: absolute;
    top: .625rem;
    left: .3125rem;
}
/* 
MAIN
*/


.my_aside > aside{
    overflow: hidden;
    height: calc(100vh - 3.75rem);
}

.main_section{
    overflow-y: auto;
    width: 100%;
    height: calc(100vh -  3.75rem);
}

.my_offcanvas{
    --bs-offcanvas-width: 100%;
}


/* 
MEDIA QUERY da Mobile first
*/

/* Tablet */

@media screen and (min-width: 768px){

}


/* Desktop */
@media screen and (min-width: 992px){

    .my_offcanvas{
        --bs-offcanvas-width: 40%;
    }
    
}


