@import url(general.css);

/* 
HEADER
*/
header{
    height: 3.75rem;
}
/* 
MAIN
*/

main aside{
    height: calc(100vh - 3.75rem);
    overflow-y: hidden;
}






/* 
MEDIA QUERY da Mobile first
*/

/* Tablet */

@media screen and (min-width: 768px){

}


/* Desktop */
@media screen and (min-width: 992px){
    
}


